@using EntityLayer.Concrete
@model List<Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Mail</th>
        <th>Yetki</th>
        <th>Durum</th>
        <th>Pasif Yap</th>
        <th>Yetkisini Değiştir</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AdminID</th>
            <td>@item.AdminUserName</td>
            <td>@item.AdminRole</td>
            <td>Aktfi</td>
            <td><a href="/AdminCategory/DeleteCategory/@item.AdminID" class="btn btn-outline-success">Pasif yap</a></td>
            <td><a href="/Authorization/EditAdmin/@item.AdminID" class="btn btn-outline-success">Yetkisini değiştir</a></td>
        </tr>
    }
</table>
<a href="/Authorization/AddAdmin" class="btn btn-outline-info">Yeni admin tanımla</a>

